################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hrt.BookStore/.vs/hrt.BookStore
/hrt.BookStore/hrt.BookStore/bin/Debug/netcoreapp3.1
/hrt.BookStore/hrt.BookStore/obj
